{% extends 'base.html.twig' %}

{% block title %}{{'Quiénes somos' | trans }}{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
{% endblock %}

{% block body %}
{{ include('comunes/_menu_inicial.html.twig') }}
<main class="container my-4">
  
  <h1>{{'Quiénes somos' | trans }}</h1>

  <h3>{{ 'Libros, Revistas, Documentales, Videos, Películas CDs, ...' | trans }}</h3>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada egestas risus hendrerit tincidunt. Nunc eu semper justo, non ultricies nibh. Sed a viverra lorem. Donec sed porttitor turpis, eu cursus tellus. Proin dignissim lorem et eros aliquam faucibus. Suspendisse fermentum, erat et vulputate dapibus, augue purus maximus dolor, vitae gravida eros ex vehicula felis. Vestibulum feugiat nibh urna, fringilla ultrices eros bibendum id. In mollis eleifend pulvinar. Nulla porttitor quis felis at ultricies. Integer sed mi sit amet est feugiat tempor. Phasellus a velit non ligula placerat maximus non sit amet orci. In a imperdiet felis.</p>

  <p>Quisque tempor nunc in turpis molestie laoreet. Donec faucibus, urna sed sodales sagittis, magna libero fermentum tortor, et faucibus nunc enim a lectus. Donec magna velit, viverra vitae eros sit amet, pretium gravida quam. Duis orci lorem, lacinia non tellus ac, maximus dictum tellus. Donec id euismod metus. Integer aliquam enim nunc, at hendrerit ipsum convallis et. Suspendisse vehicula metus mi, eget ullamcorper orci faucibus ac. Quisque a gravida felis, vitae sagittis purus. In blandit viverra ultricies. Sed viverra orci ligula, id condimentum elit elementum vitae. Quisque luctus pulvinar tincidunt. Maecenas vitae nisi ex. Morbi at aliquet tellus, at ullamcorper dui. Mauris faucibus porttitor placerat. Nulla porttitor metus non leo maximus ornare. Maecenas rhoncus gravida convallis.</p>

  <p>Donec tincidunt iaculis malesuada. Donec in semper lorem, eget fringilla lorem. Curabitur vel nisl sollicitudin, auctor lacus a, varius diam. Suspendisse facilisis et orci sed semper. Curabitur sit amet elementum nulla. Suspendisse potenti. Nunc dignissim nec leo at pellentesque. Vivamus gravida ex ex, id egestas nisl scelerisque rhoncus.</p>

  <p>Mauris rutrum nibh dolor, non lacinia erat pellentesque nec. Duis faucibus ultrices purus, id placerat dolor malesuada vel. Duis semper facilisis consectetur. In iaculis metus in libero elementum mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar erat nec massa porttitor efficitur. Mauris eget orci id erat sodales imperdiet. Nunc ante enim, tincidunt in metus eget, semper lobortis sapien. Nullam non feugiat ipsum.</p>

  <p>Fusce quis bibendum leo, sit amet aliquam ligula. Cras fringilla est non quam facilisis porta. Proin in dolor ullamcorper, volutpat lorem id, molestie risus. Nulla maximus dignissim massa sit amet suscipit. Nulla lacus nisi, congue eu lorem in, bibendum placerat est. Sed gravida pulvinar dignissim. In ex turpis, pretium sed augue nec, condimentum ultricies elit. Curabitur ut pulvinar mauris, et laoreet purus. Vestibulum eleifend vestibulum sollicitudin. Donec quis fringilla ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam porttitor ut lacus at posuere. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec luctus lectus nulla, ut dignissim odio semper vel.</p>

</main>
{{ include('comunes/_footer_inicial.html.twig') }}
{% endblock %}
