{% extends 'base.html.twig' %}

{% block title %}Fondos{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
{% endblock %}


{% block body %}
  {{ include('comunes/_menu.html.twig') }}    
  <main class="container-fluid py-4">
    <h1 class="text-center">Fondos</h1>

    <h2>Página: {{paginaActual}} de {{numTotalPaginas}} | Ordenar por: {{orderBy}}</h2>

    {{ include('comunes/_paginacion.html.twig') }}
    <p> </p>
    <div class="text-left">
      <a class="btn btn-secondary" href="{{ path('fondo_nuevo')}}" role="button">Nuevo Fondo</a>
    </div>
    <p> </p>
  
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Título</th>
        <th scope="col">ISBN</th>
        <th scope="col">Autor(es)</th>
        <th scope="col">Editorial</th>
        <th scope="col">Edición</th>
        <th scope="col">Publicación</th>
        <th scope="col">Categoría</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for fondo in fondos %}
        <tr>
          <td> {{ fondo.id }}</td>
          <td> {{ fondo.titulo }}</td>
          <td> {{ fondo.isbn }}</td>
          <td> 
            {% for autor in fondo.autores %}
              {{ autor.nombre }}
            {% endfor %}
          </td>
          <td> {{ fondo.editorial.nombre }}</td>
          <td> {{ fondo.edicion }}</td>
          <td> {{ fondo.publicacion }}</td>
          <td> {{ fondo.categoria }}</td>
          <td>
            <a href="{{ path('fondo_detalle', {id: fondo.id}) }}"><i class="fa fa-search" style="font-size:24px;color:grey;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ path('fondo_delete', {id: fondo.id}) }}"><i class="fa fa-trash-o" style="font-size:24px;color:grey;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ path('fondo_modificar', {id: fondo.id}) }}"><i class="fa fa-pencil" style="font-size:24px;color:grey;"></i></a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="7">No Existen Registros</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
    {{ include('comunes/_paginacion.html.twig') }}
  </main>
{% endblock %}
