{% extends 'base.html.twig' %}

{% block title %}Fondos{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
  {{ include('comunes/_menu.html.twig') }}    
  <main class="container-fluid py-4">
    <h1 class="text-center">Fondos</h1>

    <h2>Página: {{paginaActual}} de {{numTotalPaginas}} | Ordenar por: <span id="textoCampo"></span></h2>

    {{ include('comunes/_paginacion.html.twig') }}
    <p> </p>
    <div class="text-left">
      <a class="btn btn-secondary" href="{{ path('fondo_nuevo')}}" role="button">Nuevo Fondo</a>
    </div>
    <p> </p>
  
    <table class="dataTable">
    <thead>
      <tr>
        <!--<th class="">ID <img src="{{ asset('images/sort_desc.png')}}" /> </th>-->
        <th id="id" class="sorting sorting_asc">ID</th>
        <th id="titulo" class="sorting sorting_both">Título</th>
        <th id="isbn" class="sorting sorting_both">ISBN</th>
        <th id="autor" class="sorting sorting_both">Autor(es)</th>
        <th id="editorial" class="sorting sorting_both">Editorial</th>
        <th id="edicion" class="sorting sorting_both">Edición</th>
        <th id="publicacion" class="sorting sorting_both">Publicación</th>
        <th id="categoria" class="sorting sorting_both">Categoría</th>
        <th class="sorting sorting_both">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for fondo in fondos %}
        <tr>
          <td> {{ fondo.id }}</td>
          <td> {{ fondo.titulo }}</td>
          <td> {{ fondo.isbn }}</td>
          <td> 
            {% for autor in fondo.autores %}
              {{ autor.nombre }}
            {% endfor %}
          </td>
          <td> {{ fondo.editorial.nombre }}</td>
          <td> {{ fondo.edicion }}</td>
          <td> {{ fondo.publicacion }}</td>
          <td> {{ fondo.categoria }}</td>
          <td>
            <a href="{{ path('fondo_detalle', {id: fondo.id}) }}"><i class="fa fa-search" style="font-size:24px;color:grey;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ path('fondo_delete', {id: fondo.id}) }}"><i class="fa fa-trash-o" style="font-size:24px;color:grey;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ path('fondo_modificar', {id: fondo.id}) }}"><i class="fa fa-pencil" style="font-size:24px;color:grey;"></i></a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="7">No Existen Registros</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
    {{ include('comunes/_paginacion.html.twig') }}
  </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
      
      {% set cabeceras = ['id', 'titulo', 'isbn', 'autor', 'editorial', 'edicion', 'publicacion', 'categoria'] %}

      //código a ejecutar cuando el DOM está listo para recibir acciones
      document.addEventListener("DOMContentLoaded", function(event) {
        //Pone la marca de orden adecuada al campo que se este usando
        {% for cabecera in cabeceras %}
          {% if cabecera == orderBy  %} 
            elementoSeleccionado = document.getElementById('{{ orderBy }}');

            var textoCampo = document.getElementById('textoCampo');
            textoCampo.innerText = elementoSeleccionado.innerText;
            var clases= elementoSeleccionado.getAttribute('class');
            var ordenActual = '{{ order }}';
            if( ordenActual == "ASC"){
              clasesAux = clases.replace('sorting_desc', 'sorting_asc');
              clasesAux = clasesAux.replace('sorting_both', 'sorting_asc');
            }else{
              clasesAux = clases.replace('sorting_asc', 'sorting_desc');
              clasesAux = clasesAux.replace('sorting_both', 'sorting_desc');
            }            
            elementoSeleccionado.setAttribute('class', clasesAux);
          {% else %}
            elementoRecorrido = document.getElementById('{{ cabecera }}');
            elementoRecorrido.setAttribute('class', 'sorting sorting_both');
          {% endif %}
        {% endfor %}
      });

      //Crea los Listeners para las cabeceras existentes
      {% for cabecera in cabeceras %}
        document.getElementById("{{cabecera}}").addEventListener("click", function( event ) {
          var clases= this.getAttribute('class');
          if(clases.includes('sorting_desc')){
            clasesAux = clases.replace('sorting_desc', 'sorting_asc');
            orderAux = 'ASC';
          }else if(clases.includes('sorting_asc')){          
            clasesAux = clases.replace('sorting_asc', 'sorting_desc');
            orderAux = 'DESC';
          }else{
            clasesAux = clases.replace('sorting_both', 'sorting_asc');
            orderAux = 'ASC';
          }
          this.setAttribute('class', clasesAux);
          
          var url = "{{path('fondos_paginados', {page: paginaActual, orderBy: 'CAMPO', order: 'ASC'} )}}";
          url = url.replace("CAMPO", "{{cabecera}}");
          url = url.replace("ASC", orderAux);
          window.location = url;
        }, false);
      {% endfor %}
    </script>
{% endblock %}