{% extends 'base.html.twig' %}

{% block title %}Fondos{% endblock %}

{% block body %}
  {{ include('comunes/_menu.html.twig') }}    
  <main class="container py-4">
    <h1 class="text-center">Fondos</h1>

    {% dump fondos %} <!-- Lo saca a la consola-->
    
    <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Título</th>
        <th scope="col">ISBN</th>
        <th scope="col">Autor(es)</th>
        <th scope="col">Editorial</th>
        <th scope="col">Edición</th>
        <th scope="col">Publicación</th>
        <th scope="col">Categoría</th>
        </tr>
    </thead>
    <tbody>
        {% for fondo in fondos %}
        <tr>
            <td> {{ fondo.id }}</td>
            <td> {{ fondo.titulo }}</td>
            <td> {{ fondo.isbn }}</td>
            <td> 
              {% for autor in fondo.autores %}
                {{ autor.nombre }}
              {% endfor %}
            </td>
            <td> {{ fondo.editorial.nombre }}</td>
            <td> {{ fondo.edicion }}</td>
            <td> {{ fondo.publicacion }}</td>
            <td> {{ fondo.categoria }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
  </main>
{% endblock %}
