{% extends 'base.html.twig' %}

{% block title %}Editoriales{% endblock %}

{% block body %}
  {{ include('comunes/_menu.html.twig') }}  
  <main class="container py-4">
    <h1 class="text-center">Editoriales</h1>

    {% dump editoriales %} <!-- Lo saca a la consola-->
    
    <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>       
        <th scope="col">Acciones</th>     
        </tr>
    </thead>
    <tbody>
        {% for editorial in editoriales %}
        <tr>
            <td> {{ editorial.id }}</td>
            <td> {{ editorial.nombre }}</td>
            <td>
              <a href="{{ path('editorial_detalle', {id: editorial.id}) }}"><i class="fa fa-search" style="font-size:24px;color:grey;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="{{ path('editorial_delete', {id: editorial.id}) }}"><i class="fa fa-trash-o" style="font-size:24px;color:grey;"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
  </main>
{% endblock %}